@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500');

$font: 'Poppins', sans-serif;

$color-primary: #7549ea;
$color-orange: #ff9300;
$color-green: #11db9c;
$color-blue: #4887ff;
$color-secondary--dark: #24154b;
$color-gray--light: #f0f0f0;

$colors: $color-primary, $color-green, $color-blue, $color-orange;

